.filter-btn-dropdown > span {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
}

.filter-row label {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal .form-row:before {
  height: 18px !important;
  font-size: 18px !important;
  line-height: 18px !important;
  top: 10px !important;
}
.modal .form-row input[aria-invalid=true] {
  border-color: red !important;
}
.modal .form-row label.error {
  padding-top: 2px;
  font-size: 12px;
  line-height: 14px;
  display: block;
}

.dotted-link:hover {
  border-bottom-color: transparent;
}

@media (min-width: 680px) {
  #project-docs.drawings-gallery a {
    width: calc(33.33333333% - 10px);
  }
  #project-docs.drawings-gallery a img {
    height: 350px !important;
    object-fit: cover;
  }
}

/*# sourceMappingURL=update.css.map */
