body {
	color: #535353;
}

.layout {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.section {
	padding-top: 35px;
	padding-bottom: 30px;
	@include flex-grow(1);
}

.section-wrap {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1290px;
}

.section-light-gray {
	background: #F6F9FB;
}

.file_box {
	padding-top: 40px;
	padding-bottom: 25px;
	background: #EEF1F3;

	&__row {

	}

	&__item {
		margin-bottom: 15px;
	}

	@media (min-width: $screen-md-min) {

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__item {
			width: calc(50% - 15px);
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 48px;
		padding-bottom: 23px;
	}
}

.file_link {
	height: 60px;
	color: #535353;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	border-radius: 8px;
	text-decoration: none;
	padding: 5px 10px 5px 18px;
	box-shadow: 0px 10px 30px rgba(25, 49, 52, 0.17);
	@include flexbox();
	@include align-items(center);
	@include transition(.3s);

	&:hover {
		color: #535353;
		text-decoration: none;
		@include transition(.3s);
		box-shadow: 0px 10px 30px rgba(25, 49, 52, 0.27);
	}

	&:active {
		box-shadow: 0px 10px 30px rgba(25, 49, 52, 0.17);
	}


	&:focus,
	&.focus {
		outline: 0;
	}

	span {
		display: inline-block;
		@include flex-grow(1);
	}

	i {
		width: 39px;
		height: 39px;
		font-size: 0;
		line-height: 0;
		display: inline-block;
		@include flex-shrink(0);
	}

	@media (min-width: $screen-sm-min) {
		text-align: center;
		font-size: 18px;
		line-height: 20px;
	}
}

.main-table {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 16px;
	line-height: 130%;
	text-align: left;
	border-collapse: collapse;


	th {
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		text-align: left;
		padding: 20px 20px;
		background: #5C707B;
		vertical-align: middle;

		&:first-child {
			padding-left: 33px;
		}

		&:last-child {
			padding-right: 33px;
		}
	}

	td {
		padding: 22px 20px;
		vertical-align: top;
		border-bottom: 1px solid #F0F0F0;

		&:first-child {
			position: relative;
			padding-left: 33px;

			&:before {
				left: 0;
				bottom: -1px;
				content: '';
				width: 33px;
				height: 1px;
				z-index: 20;
				display: block;
				background: #fff;
				position: absolute;
			}
		}

		&:first-child {
			position: relative;
			padding-right: 33px;

			&:before {
				right: 0;
				bottom: -1px;
				content: '';
				width: 33px;
				height: 1px;
				z-index: 20;
				display: block;
				background: #fff;
				position: absolute;
			}
		}
	}
}

.table-sort {
	cursor: pointer;
	position: relative;
	padding-right: 12px;
	white-space: nowrap;
	display: inline-block;

	&:before {
		top: 50%;
		right: 0;
		width: 6px;
		height: 8px;
		content: '';
		font-size: 0;
		line-height: 0;
		margin-top: -4px;
		position: absolute;
		display: inline-block;
		background: url("../img/icon__table_sort.svg") 50% 50% no-repeat;
	}
}

.goods-block {

	&__header {
		display: none;
	}

	&__body {

	}

	@media (min-width: $screen-sm-min) {

		&__body {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		background: #fff;
		border-radius: 8px;
		box-shadow: 0px 2px 4px rgba(15, 20, 28, 0.1);

		&__header {
			margin: 0;
			color: #fff;
			height: 60px;
			padding: 0 25px;
			font-size: 14px;
			font-weight: 700;
			list-style: none;
			line-height: 130%;
			background: #5C707B;
			border-radius: 8px 8px 0px 0px;
			@include flexbox();
			@include align-items(center);

			li {

				&:nth-child(1) {
					@include flex-grow(1);
				}

				&:nth-child(2) {
					width: 130px;
					@include flex-shrink();
				}

				&:nth-child(3) {
					width: 140px;
					@include flex-shrink();
				}

				&:nth-child(4) {
					width: 200px;
					@include flex-shrink();
				}

				&:nth-child(5) {
					width: 170px;
					@include flex-shrink();
				}
			}
		}

		&__body {
			display: block;
		}
	}

	@media (min-width: $screen-xl-min) {
		margin-bottom: 60px;

		&__header {
			padding-left: 35px;
			padding-right: 32px;

			li {

				&:nth-child(3) {
					width: 160px;
				}
			}
		}
	}
}

.goods {
	background: #fff;
	border-radius: 8px;
	margin-bottom: 20px;
	padding: 10px 19px 12px 19px;
	box-shadow: 0px 2px 4px rgba(15, 20, 28, 0.1);
	@include flexbox();
	@include flex-direction(column);

	&:hover {
		background: #F8F8F8;
	}

	&__image {
		display: block;
		overflow: hidden;
		background: #fff;
		border-radius: 8px;
		border: 2px solid #E9EAEE;
		margin: 0 -10px 23px -10px;

		&_inner {
			width: 100%;
			display: block;
			margin: 0 auto;
			overflow: hidden;
			max-width: 334px;
		}
	}

	&__info {
		@include flex-grow(1);

		&_name {
			font-size: 18px;
			line-height: 130%;
			margin-bottom: 20px;

			strong {
				font-weight: 700;
				display: block;
			}

			a {
				color: #535353;
				text-decoration: none;

				&:hover {
					color: #535353;
					text-decoration: none;
				}
			}
		}

		&_availability {
			display: none;
			color: #8D8F93;
			font-size: 14px;
			line-height: 130%;
		}
	}

	&__elem {
		font-size: 14px;
		line-height: 130%;
		margin-bottom: 15px;
		border-bottom: 1px dashed #C4C4C4;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&:before {
			font-weight: 700;
			white-space: nowrap;
			content: attr(data-label);
		}
	}

	&__power {

		br {
			display: none;
		}
	}

	&__purchase {
		padding-top: 25px;
		text-align: center;

		&_checkout {
			margin-bottom: 12px;
		}
	}

	&__price {
		color: #535353;
		font-size: 26px;
		font-weight: 700;
		line-height: 130%;
		margin-bottom: 30px;
		white-space: nowrap;
	}

	&__comparison {

		&_link {
			display: none;
		}

		&.checked {

			.goods__comparison_add {
				display: none;
			}

			.goods__comparison_link {
				display: inline-block;
			}
		}
	}

	.btn_base {
		width: 100%;
	}

	@media (min-width: $screen-sm-min) {
		width: calc(50% - 10px);
	}

	@media (min-width: $screen-md-min) {
		width: calc(33.33% - 10px);
	}

	@media (min-width: $screen-lg-min) {
		margin: 0;
		width: 100%;
		padding: 25px;
		border-radius: 0;
		box-shadow: none;
		background: transparent;
		border-bottom: 1px solid #F0F0F0;
		@include flex-direction(row);

		&:last-child {
			border-bottom: none;
			border-radius: 0 0 8px 8px;
		}

		&__image {
			margin: 0;
			padding: 0;
			width: 150px;
			height: 110px;
			border: 2px solid #E9EAEE;
			@include flex-shrink(0);
			@include flexbox();
			@include align-items(center);
			@include flex-direction(column);

			&_inner {
				margin: auto;
			}
		}

		&__elem {
			margin: 0;
			display: block;
			text-align: left;
			border-bottom: none;

			&:before {
				display: none;
			}
		}

		&__info {
			padding: 5px 15px 5px 25px;
			@include flexbox();
			@include flex-grow(1);
			@include flex-direction(column);

			&_name {
				font-size: 16px;
				line-height: 130%;
				@include flex-grow(1);
			}

			&_availability {
				display: block;
			}
		}

		&__elem {
			padding-top: 5px;
		}


		&__power {
			width: 130px;
			padding-right: 10px;
			@include flex-shrink(0);

			br {
				display: block;
			}
		}

		&__engine {
			width: 140px;
			padding-right: 10px;
			@include flex-shrink(0);
		}

		&__country {
			width: 200px;
			padding-right: 10px;
			@include flex-shrink(0);
		}

		&__purchase {
			padding: 5px 0 0 0;
			width: 170px;
			@include flex-shrink(0);

			&_checkout {
				margin-bottom: 7px;
			}
		}

		&__price {
			font-size: 16px;
			line-height: 130%;
			margin-bottom: 10px;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-left: 35px;
		padding-right: 32px;

		&__info {
			padding-right: 20px;
		}

		&__elem {
			font-size: 16px;
			line-height: 130%;
		}

		&__engine {
			width: 160px;
		}
	}
}

.country {
	color: #535353;
	font-size: 16px;
	line-height: 130%;
	@include flexbox();
	@include align-items(center);

	i {
		width: 19px;
		font-size: 0;
		line-height: 0;
		display: inline-block;
	}

	span {
		padding-left: 5px;
		display: inline-block;
	}
}

.sort {
	cursor: pointer;
	position: relative;
	padding-right: 13px;
	white-space: nowrap;
	display: inline-block;

	&:before {
		top: 50%;
		right: 0;
		width: 8px;
		height: 10px;
		content: "";
		font-size: 0;
		line-height: 0;
		margin-top: -5px;
		position: absolute;
		display: inline-block;
		background: url('../img/icon__table_sort.svg') 50% 50% no-repeat;
	}

	&.invert {

		&:before {
			@include rotate(180deg);
		}
	}
}

.completed {
	z-index: 10;
	padding: 35px 0;
	position: relative;
	background: #5C707B url('../img/engineering__bg.svg');

	&__header {
		color: #fff;
		font-size: 22px;
		line-height: 130%;
		text-align: center;
		margin-bottom: 6px;
	}

	&__mobile {
		margin: 0 -15px;
	}

	&__desktop {
		display: none;
	}

	&__slider {
		margin: 0 auto;
		max-width: 360px;

		.swiper-slide {
			height: auto;
			padding: 20px 15px;
		}

		.swiper-pagination {
			left: auto;
			right: auto;
			bottom: auto;
			position: relative;
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
		}

		.swiper-pagination-bullet {
			opacity: 1;
			padding: 0;
			width: 9px;
			height: 9px;
			border: none;
			outline: none;
			margin: 0 5px;
			cursor: pointer;
			border-radius: 50%;
			background: #DCDCDC;
			display: inline-block;
		}

		.swiper-pagination-bullet-active {
			background: #EF9200;
		}

	}

	@media (min-width: $screen-sm-min) {
		padding: 48px 0;

		&__header {
			font-size: 30px;
			line-height: 130%;
			margin-bottom: 20px;
		}

		&__slider {
			max-width: inherit;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 53px;
		padding-bottom: 10px;

		&__header {
			text-align: left;
			margin-bottom: 40px;
		}

		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;
			margin-bottom: -130px;
		}

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&__col {
			margin-bottom: 36px;
			width: calc(50% - 15px);
		}
	}


	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.work {
	height: 100%;
	padding: 10px;
	color: #535353;
	font-size: 14px;
	background: #fff;
	line-height: 140%;
	border-radius: 8px;
	text-decoration: none;
	box-shadow: 0px 3px 20px rgba(15, 20, 28, 0.15);
	@include flexbox();
	@include flex-direction(column);

	&:hover {
		color: #535353;
		text-decoration: none;
		box-shadow: 0px 3px 15px rgba(15, 20, 28, 0.25);
	}

	&__image {
		height: 164px;
		border-radius: 8px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		@include flex-shrink(0);
	}

	&__info {
		padding: 14px 7px;
	}

	&_content {
		padding: 5px 7px 10px 7px;
		@include flex-grow(1);
	}

	&__date {
		color: #8D8F93;
		font-size: 14px;
		line-height: 130%;
		margin-bottom: 8px;
	}

	&__title {
		font-size: 16px;
		font-weight: 700;
		line-height: 130%;
	}

	@media (min-width: $screen-sm-min) {
		padding: 25px 30px;

		&__header {
			@include flexbox();
			@include align-items(center);
		}

		&__image {
			width: 178px;
			height: 110px;
		}

		&__info {
			max-width: 420px;
			padding: 0 0 0 27px;
		}

		&__content {
			padding: 18px 0 10px 0;
		}

	}

	@media (min-width: $screen-md-min) {
		padding: 25px 25px;

		&__image {
			width: 150px;
			height: 110px;
		}

		&__info {
			padding-left: 22px;
			max-width: inherit;
		}

		&__content {
			padding: 18px 0 0 0;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.office {
	color: #535353;
	background: #F6F9FB;
	padding: 50px 0 58px 0;

	&__header {
		font-size: 22px;
		font-weight: 700;
		line-height: 130%;
		text-align: center;
		margin-bottom: 28px;
	}

	&__box {
		padding: 17px;
		background: #fff;
		border-radius: 8px;
		box-shadow: 0px 2px 4px rgba(15, 20, 28, 0.1);
	}

	&__content {
		width: 250px;
		margin: 0 auto;
		padding: 16px 0 36px 0;
	}

	&__title {
		color: #8D8F93;
		font-size: 14px;
		font-weight: 700;
		line-height: 130%;
		margin-bottom: 8px;
	}

	&__address {
		font-size: 18px;
		line-height: 130%;
		margin-bottom: 36px;

		&_city {
			font-size: 20px;
			font-weight: 700;
			line-height: 130%;
			padding-left: 23px;
			position: relative;
			white-space: nowrap;
			display: inline-block;

			i {
				left: 0;
				top: 50%;
				width: 14px;
				height: 18px;
				font-size: 0;
				line-height: 0;
				margin-top: -9px;
				position: absolute;
				display: inline-block;
			}
		}

		&_street {

		}
	}


	&__item {
		color: #535353;
		font-size: 18px;
		line-height: 130%;
		margin-bottom: 5px;
		padding-left: 23px;
		position: relative;
		white-space: nowrap;
		display: inline-block;
		text-decoration: none;

		&:last-child {
			margin-bottom: 0;
		}

		i {
			left: 0;
			top: 50%;
			width: 16px;
			height: 16px;
			font-size: 0;
			line-height: 0;
			margin-top: -8px;
			position: absolute;
			display: inline-block;
		}

		&:hover {
			color: #535353;
			text-decoration: none;
		}
	}

	&__map {
		font-size: 0;
		line-height: 0;
		overflow: hidden;
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0.03);
		box-shadow: 0px 4px 13px rgba(15, 20, 28, 0.08);
	}

	@media (min-width: $screen-sm-min) {
		padding: 65px 0 78px 0;

		&__header {
			font-size: 30px;
			line-height: 130%;
			margin-bottom: 38px;
		}

		&__box {
			padding: 16px 16px 16px 48px;
			@include flexbox();
			@include align-items(center);
		}

		&__content {
			width: 305px;
			padding: 0 10px 0 0;
			@include flex-shrink(0);
		}

		&__map {
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 162px;
		padding-bottom: 88px;

		&__header {
			text-align: left;
			margin-bottom: 27px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__box {
			padding-left: 60px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.point_offset {
	top: -20px;
	position: relative;
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}
