.filter {
	margin-bottom: 30px;

	&__nav {
		z-index: 10;
		position: relative;
		padding-bottom: 20px;

		a {
			width: 100%;
			color: #535353;
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			background: #fff;
			border-radius: 8px;
			padding: 13px 24px;
			display: inline-block;
			text-decoration: none;
			margin-bottom: 10px;
			box-shadow: 0px 2px 4px rgba(15, 20, 28, 0.1);

			&:hover {
				color: #535353;
				background: #f5f5f5;
				text-decoration: none;
				box-shadow: 0px 2px 4px rgba(15, 20, 28, 0.1);
			}

			&.active {
				color: #fff;
				background: #1D8C9C;
				text-decoration: none;
				box-shadow: 0px 2px 4px rgba(15, 20, 28, 0.1);
			}
		}
	}


	&__main {
		background: #fff;
		overflow: hidden;
		border-radius: 8px;
		box-shadow: 0px 2px 4px rgba(15, 20, 28, 0.1);
	}

	&__content {
		padding: 25px 25px 7px 25px;
		overflow-x: auto;

		&_wrap {

		}
	}

	&__reset {
		padding: 9px 25px;
		border-top: 1px solid rgba(0,0,0,0.05);

		.btn_base {
			width: 100%;
		}
	}

	&__tab {
		display: none;

		&.active {
			display: block;
		}
	}

	&__button {
		padding: 13px 10px;
		outline: none;
		color: #535353;
		cursor: pointer;
		min-width: 100px;
		font-size: 16px;
		box-shadow: none;
		line-height: 20px;
		border-radius: 8px;
		text-align: center;
		position: relative;
		background: #F6F9FB;
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;
		box-sizing: border-box;
		border: 1px solid rgba(0, 0, 0, 0.05);
		@include transition(0s);

		&_flag {
			width: 100%;
			max-width: 230px;
			text-align: left;
			padding-left: 26px;
			@include flexbox();
			@include align-items(center);

			i {
				width: 19px;
				font-size: 0;
				line-height: 0;
				display: inline-block;
			}

			span {
				padding-left: 9px;
				display: inline-block;
			}

			&.checked {
				font-weight: 400;
			}
		}

		&_text {
			height: 100%;
			min-height: 90px;
			font-size: 16px;
			line-height: 130%;
			text-align: left;
			white-space: normal;
			vertical-align: top;
			padding: 12px 10px 12px 30px;

			&.checked {
				font-weight: 400;
			}
		}

		&:hover {
			color: #535353;
			background: #E2EBF0;
			text-decoration: none;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
		}

		&:active {
			background: #c4cdd2;
		}
	}

	&__title {
		color: #535353;
		font-size: 20px;
		font-weight: 700;
		line-height: 130%;
		text-align: center;
		margin-bottom: 22px;
	}

	&__price {
	//	padding: 0 25px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 18px;
			}
		}

		.filter_item {
			width: 100%;
		}
	}

	&__power {
		width: 1192px;

		ul {
			margin: 0;
			padding: 0;
			margin: 0 -16px;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);

			li {
				width: 11.11%;
				padding: 0 16px;
				text-align: center;
				margin-bottom: 18px;
			}
		}

		.filter_button {
			width: 100%;
		}
	}

	&__vendor {
		width: 1192px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			li {
				width: 25%;
				padding: 0 34px;
				text-align: center;
				margin-bottom: 18px;
			}
		}

		.filter__button {
			width: 100%;
		}
	}

	&__kit {
		padding: 0 20px 12px 20px;

		&_wrap {
			margin: 0 auto;
			max-width: 556px;
		}


		&_text {
			opacity: 0.6;
			color: #8D8F93;
			font-size: 14px;
			line-height: 130%;
			text-align: center;
			padding-top: 20px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 10px;
			}
		}

		.filter__button {
			width: 100%;
		}
	}

	&__country {
		width: 1192px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);
		//	@include justify-content(space-between);

			li {
				width: 25%;
				padding: 0 34px;
				text-align: center;
				margin-bottom: 18px;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&__kit {
			padding: 0 34px 20px 34px;
		}

		&__content {
			padding: 36px 33px 12px 33px;
		}

		&__reset {
			padding: 9px 33px;
			text-align: right;

			.btn_base {
				width: auto;
				min-width: 190px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.03);
		background: rgba(233, 234, 238, 0.22);

		&__nav {
			padding: 0;
			width: 100%;
			border-radius: 8px 8px 0 0;
			@include flexbox();

			a {
				margin: 0;
				color: #7D92A4;
				border: none;
				position: relative;
				box-shadow: none;
				font-size: 14px;
				line-height: 20px;
				padding: 17px 10px;
				text-align: center;
				white-space: nowrap;
				background: transparent;
				border-radius: 8px 8px 0 0;
				@include flex-grow(1);

				&.active {
					color: #535353;
					background: #fff;
					box-shadow: 0px 2px 4px rgba(15, 20, 28, 0.1);

					&:after {
						left: 0;
						right: 0;
						top: 100%;
						height: 10px;
						z-index: 10;
						content: '';
						display: block;
						background: #fff;
						position: absolute;
					}

					&:hover {
						color: #535353;
						background: #fff;
					}
				}

				&:hover {
					color: #535353;
					box-shadow: none;
					background: rgba(255,255,255,0.4);
				}
			}
		}

		&__price {
	//		padding: 0 8px;

			ul {
				@include flexbox();
				@include flex-wrap(wrap);
				@include align-items(center);
				@include justify-content(space-between);

				li {
					width: calc(33.33% - 30px);
				}
			}
		}

		&__kit {
			padding: 0 60px 12px 34px;

			&_wrap {
				max-width: inherit;
			}

			ul {
				@include flexbox();
				@include flex-wrap(wrap);
				@include justify-content(space-between);

				li {
					width: calc(50% - 15px);
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

		&__nav {

			a {
				font-size: 16px;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}

.filter_button {
	padding: 13px 10px;
	outline: none;
	color: #535353;
	cursor: pointer;
	min-width: 100px;
	font-size: 16px;
	box-shadow: none;
	line-height: 20px;
	border-radius: 8px;
	text-align: center;
	position: relative;
	background: #F6F9FB;
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.05);
	@include transition(0s);

	&_flag {
		width: 100%;
		max-width: 230px;
		text-align: left;
		padding-left: 26px;
		@include flexbox();
		@include align-items(center);

		i {
			width: 19px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
		}

		span {
			padding-left: 9px;
			display: inline-block;
		}

		&.checked {
			font-weight: 400;
		}
	}

	&_text {
		height: 100%;
		min-height: 90px;
		font-size: 16px;
		line-height: 130%;
		text-align: left;
		white-space: normal;
		vertical-align: top;
		padding: 12px 10px 12px 30px;

		&.checked {
			font-weight: 400;
		}
	}

	&:hover {
		color: #535353;
		background: #E2EBF0;
		text-decoration: none;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
	}

	&:active {
		background: #c4cdd2;
	}
}

.filter_item {
	font-size: 0;
	line-height: 0;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		z-index: -1;
		position: absolute;
		visibility: hidden;
	}

	> span {
		z-index: 5;
		width: 100%;
		outline: none;
		color: #535353;
		cursor: pointer;
		min-width: 100px;
		font-size: 16px;
		box-shadow: none;
		line-height: 20px;
		border-radius: 8px;
		padding: 13px 10px;
		text-align: center;
		position: relative;
		background: #F6F9FB;
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;
		box-sizing: border-box;
		border: 1px solid rgba(0, 0, 0, 0.05);
		@include transition(0s);

		&:before {
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 2;
			content: '';
			width: 20px;
			height: 20px;
			font-size: 0;
			line-height: 0;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			border-radius: 8px 0 8px 0;
			background: #55616B url("../img/icon__check.svg") 50% 50% no-repeat;
		}

		&:hover {
			color: #535353;
			background: #E2EBF0;
			text-decoration: none;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
		}
	}

	&_flag {
		width: 100%;
		margin: 0 auto;
		max-width: 230px;
		text-align: left;
		@include flexbox();
		@include align-items(center);

		i {
			z-index: 10;
			width: 19px;
			height: auto;
			font-size: 0;
			line-height: 0;
			right: -40px;
			position: relative;
			display: inline-block;
			@include flex-shrink(0);
			@include order(1);
		}


		> span {
			text-align: left;
			padding-left: 50px;
			display: inline-block;
			@include order(2);
		}
	}

	input:checked + span {
		color: #fff;
		background: #364653;

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}
