* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


body {

}

.section {

	h1 {
		padding: 0;
		font-size: 22px;
		font-weight: 700;
		line-height: 130%;
		text-align: center;
		margin: 0 0 30px 0;
	}

	@media (min-width: $screen-sm-min) {
	}

	@media (min-width: $screen-md-min) {

		h1 {
			font-size: 35px;
			line-height: 130%;
		}
	}

	@media (min-width: $screen-lg-min) {

		h1 {
			text-align: left;
		}
	}

	@media (min-width: $screen-xl-min) {

	}

}

