.filter-btn-dropdown {

	> span {
		max-width: 100%;
		overflow: hidden;
		white-space: nowrap;
		display: inline-block;
		text-overflow: ellipsis;
	}
}

.filter-row {

	label {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}


.modal {

	.form-row {

		&:before {
			height: 18px !important;
			font-size: 18px !important;
			line-height: 18px !important;
			top: 50% !important;
			margin-top: -9px;
		}

		&.textarea-row {

			&:before {
				top: 10px !important;
				margin-top: 0;
			}
		}

		input {
			height: 36px !important;
		}

		textarea {
			min-height: 72px;
		}
	}
}

.dotted-link {

	&:hover {
		border-bottom-color: transparent;
	}
}

@media (min-width: 680px) {	#project-docs.drawings-gallery {

		a {
			width: calc(33.33333333% - 10px);

			img {
				height: 350px !important;
				object-fit: cover;
			}
		}
	}
}

.filters-toggle-btn {

	@media (min-width: $screen-sm-min) {
		display: none !important;
	}
}
