.modal-content {
	padding: 0;
	max-width: 500px;

	.form-row {
		margin-bottom: 15px;
	}

	.form-control {
		display: block;
		width: 100%;
		background: #f1f1f1;
		border-color: #f1f1f1 !important;
		font-family: Arial;
		font-size: 14px;
	}
}

.fancybox-close-small {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;
}