.footer {
	color: #fff;
	padding-top: 58px;
	background: #364653;

	&__bottom {
		color: #7D92A4;
		padding: 12px 0;
		font-size: 14px;
		line-height: 21px;
		text-align: center;
		background: #2C3B47;
	}

	&__row {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);
	}

	&__info {
		width: 100%;
		color: #7D92A4;
		font-size: 14px;
		line-height: 130%;
		text-align: center;
		position: relative;
		margin-bottom: 32px;
		padding-bottom: 46px;

		&:before {
			bottom: 0;
			height: 1px;
			left: -15px;
			right: -15px;
			content: '';
			display: block;
			position: absolute;
			background: rgba(255, 255, 255, 0.08);
		}
	}


	&__logo {
		width: 234px;
		display: block;
		margin: 0 auto 24px auto;
	}

	&__text {
		margin: 0 auto;
		max-width: 540px;

		p {
			padding: 0;
			margin: 0;
			display: inline;
		}
	}

	&__copy {
		display: none;
	}

	&__center {
		width: 100%;
	}

	&__contact {
		width: 100%;
	}

	&__block {
		width: 100%;
		text-align: center;
		margin-bottom: 50px;

		&_xs {
			display: none;
		}
	}

	&__title {
		color: #7D92A4;
		font-size: 18px;
		font-weight: 700;
		line-height: 130%;
		margin-bottom: 15px;
	}

	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 20px;
		line-height: 24px;

		li {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				color: #fff;
				text-decoration: none;

				&:hover {
					color: #fff;
					text-decoration: underline;
				}
			}
		}
	}

	&__prop {
		padding: 0;
		list-style: none;
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 10px 0;

		li {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&_link {
			color: #EF9200;
			font-size: 20px;
			line-height: 22px;
			text-decoration: underline;

			&:hover {
				color: #EF9200;
				text-decoration: none;
			}
		}
	}

	&__address {
		font-size: 18px;
		line-height: 130%;

		&_city {
			font-size: 20px;
			line-height: 130%;
			padding-left: 23px;
			position: relative;
			white-space: nowrap;
			display: inline-block;

			i {
				left: 0;
				top: 50%;
				width: 14px;
				height: 18px;
				font-size: 0;
				line-height: 0;
				margin-top: -9px;
				position: absolute;
				display: inline-block;
			}
		}

		&_street {

		}
	}

	&__email {
		color: #fff;
		font-size: 16px;
		line-height: 130%;
		padding-left: 23px;
		position: relative;
		white-space: nowrap;
		display: inline-block;
		text-decoration: none;

		i {
			left: 0;
			top: 50%;
			width: 19px;
			height: 20px;
			font-size: 0;
			line-height: 0;
			margin-top: -10px;
			position: absolute;
			display: inline-block;
		}

		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}

	&__touch {
		margin: 0;
		padding: 0;
		font-size: 18px;
		line-height: 130%;
		list-style: none;

		&_item {
			color: #fff;
			padding-left: 23px;
			position: relative;
			white-space: nowrap;
			display: inline-block;
			text-decoration: none;

			i {
				left: 0;
				top: 50%;
				width: 16px;
				height: 16px;
				font-size: 0;
				line-height: 0;
				margin-top: -8px;
				position: absolute;
				display: inline-block;
			}

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&__social {
		font-size: 0;
		line-height: 0;
		@include flexbox();
		@include align-items(center);

		a {
			width: 46px;
			height: 46px;
			opacity: 0.5;
			border: none;
			outline: none;
			cursor: pointer;
			margin-right: 23px;
			border-radius: 50%;
			display: inline-block;
			@include transition(.3s);

			&:hover {
				opacity: 1;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 88px;

		&__row {
			padding-bottom: 10px;
		}

		&__info {
			margin-bottom: 60px;
			padding-bottom: 88px;
		}

		&__center {
			width: 245px;
			margin-right: 25px;
		}

		&__title {
			margin-bottom: 17px;
		}

		&__contact {
			width: 245px;
			margin-left: 25px;
		}

		&__block {
			text-align: left;
			margin-bottom: 50px;
		}

		&__prop {
			margin-bottom: 22px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 60px;

		&__center {
			width: auto;
			margin-right: 0;
			@include flexbox();

			&_column {
				margin-right: 75px;
			}
		}

		&__contact {
			width: 250px;
			margin-left: 0;
		}

		&__title {
			font-size: 14px;
			line-height: 130%;
			margin-bottom: 17px;
		}

		&__nav {
			font-size: 16px;
			line-height: 150%;

			li {
				margin-bottom: 0;
			}
		}

		&__prop {
			font-size: 16px;
			line-height: 150%;

			li {
				margin-bottom: 0;
			}

			&_link {
				font-size: 14px;
				line-height: 130%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 25px;

		&__row {
			padding-bottom: 0;
			@include flex-wrap(nowrap);
			@include justify-content(space-between);
		}

		&__info {
			width: 270px;
			text-align: left;
			margin-bottom: 0;
			padding-bottom: 0;
			@include flex-shrink(0);

			&:before {
				display: none;
			}
		}

		&__logo {
			width: 256px;
			margin: 0 0 35px 0;
		}

		&__text {

			p {
				display: block;
				margin-bottom: 25px;
			}
		}

		&__copy {
			display: block;
		}

		&__bottom {
			display: none;
		}

		&__center {

			&_column {
				margin: 0 35px;

				&:first-child {
					min-width: 340px;
				}
			}
		}

		&__block {
			margin-bottom: 35px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}