.production {

	&__nav {
		font-size: 20px;
		line-height: 24px;
		padding-bottom: 30px;

		&_item {
			margin-bottom: 10px;

			a {
				color: #535353;
				display: block;
				background: #fff;
				padding: 12px 24px;
				border-radius: 8px;
				text-decoration: none;
				border: 1px solid #fff;
				box-shadow: 0px 2px 4px rgba(15, 20, 28, 0.1);

				&:hover {
					color: #535353;
					background: #fff;
					text-decoration: none;
					border: 1px solid rgba(0, 0, 0, 0.05);
					box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
				}

				&.active {
					color: #fff;
					font-weight: 700;
					background: #EF9200;
					border: 1px solid rgba(0, 0, 0, 0.05);
					box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);

					&:hover {
						color: #fff;
						background: #EF9200;
					}
				}
			}
		}
	}

	&__button {
		top: 50%;
		padding: 0;
		z-index: 50;
		width: 40px;
		height: 40px;
		display:none;
		outline: none;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		margin-top: -20px;
		position: absolute;
		border-radius: 50%;
		background: transparent;
		border: 2px solid #EF9200;

		i {
			top: 50%;
			left: 50%;
			width: 8px;
			height: 14px;
			position: absolute;
			display: inline-block;
			margin: -7px 0 0 -5px;
		}

		.ico_svg {
			fill: #EF9200;
		}

		&_next {
			@include rotate(180deg);
		}
	}

	&__wrap {
		position: relative;
	}

	.swiper-slide {
		height: auto;
	}

	.swiper-pagination {
		left: auto;
		right: auto;
		bottom: auto;
		padding-top: 20px;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
	}

	.swiper-pagination-bullet {
		opacity: 1;
		padding: 0;
		width: 9px;
		height: 9px;
		border: none;
		outline: none;
		margin: 0 5px;
		cursor: pointer;
		border-radius: 50%;
		background: #DCDCDC;
		display: inline-block;
	}

	.swiper-pagination-bullet-active {
		background: #EF9200;
	}

	@media (min-width: $screen-sm-min) {

		&__nav {
			margin: 0 -10px;
			padding-bottom: 20px;
			@include flexbox();
			@include flex-wrap(wrap);

			&_item {
				width: 50%;
				padding: 0 10px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__nav {
			font-size: 16px;

			&_item {
				width: 25%;
				padding: 0 10px;

				a {
					padding: 12px 10px;
					text-align: center;

					&:hover {
						background: rgba(239,146,0, 0.2);
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__button {
			display: inline-block;

			&_prev {
				left: 20px;
			}

			&_next {
				right: 20px;
			}
		}
	}

	@media (min-width: 1400px) {

		&__button {
			display: inline-block;

			&_prev {
				left: -60px;
			}

			&_next {
				right: -60px;
			}
		}
	}
}

.production-item {
	padding: 6px;
	height: 100%;
	text-align: center;
	border-radius: 8px;
	box-shadow: 0px 2px 4px rgba(15, 20, 28, 0.1);
	background: linear-gradient(255.89deg, #50676D 1.47%, #2C3B47 102.66%);
	@include flexbox();
	@include flex-direction(column);

	&__image {
		padding: 17px 15px 20px 15px;
		background: rgba(46, 61, 73, 0.75);
		border-radius: 6px;

		&_wrap {
			max-width: 252px;
			margin: 0 auto;
		}
	}

	&__content {
		padding-top: 28px;
		padding-bottom: 55px;
		@include flexbox();
		@include flex-grow(1);
		@include flex-direction(column);

		&_wrap {
			@include flexbox();
			@include flex-grow(1);
			@include flex-direction(column);
		}
	}

	&__title {
		color: #fff;
		font-size: 20px;
		line-height: 130%;
		margin-bottom: 15px;

		span {
			display: block;
		}

		strong {
			color: #fff;
			font-size: 22px;
			font-weight: 700;
			line-height: 130%;
		}
	}

	&__text {
		color: #fff;
		opacity: 0.5;
		height: 72px;
		font-size: 16px;
		line-height: 130%;
		@include flex-grow(1);
	}

	&__button {

	}

	.btn_main {
		width: 100%;
		max-width: 290px;
	}

	@media (min-width: $screen-sm-min) {
		padding: 12px;

		&__image {
			padding: 36px 30px 48px 30px;

			&_wrap {
				max-width: 532px;
			}
		}

		&__content {
			padding-top: 40px;
			padding-bottom: 50px;
		}

		&__title {
			font-size: 22px;
			line-height: 130%;
			margin-bottom: 20px;

			strong {
				font-size: 26px;
				line-height: 130%;
			}
		}

		&__text {
			min-height: 95px;
		}
	}


	@media (min-width: $screen-md-min) {
		@include flex-direction(row-reverse);
		@include align-items(center);

		&__image {
			width: 490px;
			@include flex-shrink(0);
		}

		&__content {
		//	height: 250px;
			text-align: left;
			padding: 10px 10px 10px 30px;
		}

		&_text {
			width: auto;
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-lg-min) {

		&__image {
			width: 600px;
			padding-top: 35px;
			padding-bottom: 50px;

			&_wrap {
				max-width: 532px;
			}
		}

		&__content {
			padding-left: 40px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__image {
			width: 685px;
		}

		&__content {
			width: 551px;
			padding-left: 70px;
		}
	}
}


.activity {
	color: #fff;
	padding-top: 32px;
	padding-bottom: 40px;
	background: url("../img/activity__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__header {
		margin-bottom: 25px;

		&_title {
			font-size: 22px;
			line-height: 130%;
			text-align: center;
		}

		&_nav {
			display: none;
		}
	}

	&__nav {
		margin: 0;
		padding: 0;
		z-index: 50;
		width: 40px;
		height: 40px;
		outline: none;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: relative;
		border-radius: 50%;
		display:inline-block;
		background: transparent;
		border: 1px solid rgba(255, 255, 255, 0.25);

		i {
			top: 50%;
			left: 50%;
			width: 8px;
			height: 14px;
			position: absolute;
			display: inline-block;
			margin: -7px 0 0 -5px;
		}

		.ico_svg {
			fill: #fff;
		}

		&:hover {
			border-color: #fff;
			background: rgba(255, 255, 255, 0.15);
		}

		&_next {
			@include rotate(180deg);
		}

	}

	&__item {
		display: block;
		color: #FFFFFF;
		text-align: center;
		border-radius: 8px;
		padding: 4px 4px 0 4px;
		background: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(4px);

		&_image {
			overflow: hidden;
			border-radius: 4px;
		}

		&_title {
			height: 68px;
			font-size: 16px;
			line-height: 130%;
			@include flexbox();
			@include flex-direction(column);

			span {
				margin: auto 0;
				display: block;
				padding: 0 5px;
			}
		}
	}

	.swiper-pagination {
		left: auto;
		right: auto;
		bottom: auto;
		padding-top: 20px;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
	}

	.swiper-pagination-bullet {
		opacity: 1;
		padding: 0;
		width: 9px;
		height: 9px;
		border: none;
		outline: none;
		margin: 0 5px;
		cursor: pointer;
		border-radius: 50%;
		background: #DCDCDC;
		display: inline-block;
	}

	.swiper-pagination-bullet-active {
		background: #EF9200;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 50px;
		padding-bottom: 50px;

		&__header {
			margin-bottom: 40px;

			&_title {
				font-size: 35px;
				line-height: 130%;
			}
		}

		&__item {
			padding: 8px 8px 0 8px;

			&_title {
				height: 60px;
				font-size: 20px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__header {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);

			&_title {
				text-align: left;
				@include flex-grow(1);
			}

			&_nav {
				width: 90px;
				@include flexbox();
				@include flex-shrink(0);
				@include align-items(center);
				@include justify-content(space-between);
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 74px;
		padding-bottom: 69px;

		&__item {
			padding: 10px 10px 0 10px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}

}

.warranty {
	padding-top: 40px;
	background: #F6F9FB;
	padding-bottom: 40px;

	&__header {
		color: #535353;
		font-size: 22px;
		font-weight: 700;
		line-height: 130%;
		text-align: center;
		margin-bottom: 25px;
	}

	&__item {
		color: #535353;
		font-size: 18px;
		line-height: 130%;
		background: #fff;
		border-radius: 8px;
		margin-bottom: 10px;
		padding: 15px 10px 15px 20px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
		@include flexbox();
		@include align-items(center);

		&_icon {
			width: 75px;
			height: 75px;
			@include flex-shrink(0);
		}

		&_text {
			padding-left: 25px;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 60px;
		padding-bottom: 60px;

		&__header {
			font-size: 35px;
			line-height: 130%;
			margin-bottom: 40px;
		}

		&__item {
			font-size: 20px;
			line-height: 130%;
			margin-bottom: 12px;
			padding: 11px 60px 10px 20px;

			&_text {
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__header {
			text-align: left;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 74px;
		padding-bottom: 83px;
	}

	@media (min-width: $screen-xl-min) {

	}

}

.manufacture {
	color: #535353;
	background: #fff;
	padding-top: 40px;
	padding-bottom: 40px;

	&__header {
		font-size: 22px;
		font-weight: 700;
		line-height: 130%;
		text-align: center;
		margin-bottom: 30px;
	}


	&__item {
		outline: none;
		display: block;
		color: #535353;
		font-size: 20px;
		font-weight: 700;
		overflow: hidden;
		line-height: 130%;
		border-radius: 8px;
		text-align: center;
		background: #F5F7FA;
		margin-bottom: 30px;
		text-decoration: none;
		border: 1px solid rgba(0, 0, 0, 0.05);

		&:hover {
			color: #535353;
			text-decoration: none;
		}

		&_image {
			margin: 0 auto;
			max-width: 330px;
			overflow: hidden;
		}

		&_title {
			width: 100%;
			height: 92px;
			padding: 5px 0;
			border-bottom: 3px solid #EF9200;
			@include flexbox();
			@include flex-direction(column);

			span {
				display: block;
				margin: auto 0;
			}
		}
	}

	&__desktop {
		display: none;
	}


	.swiper-pagination {
		padding: 0;
		left: auto;
		right: auto;
		bottom: auto;
		z-index: 20;
		margin-top: -10px;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
	}

	.swiper-pagination-bullet {
		opacity: 1;
		padding: 0;
		width: 9px;
		height: 9px;
		border: none;
		outline: none;
		margin: 0 5px;
		cursor: pointer;
		border-radius: 50%;
		background: #DCDCDC;
		display: inline-block;
	}

	.swiper-pagination-bullet-active {
		background: #EF9200;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 70px;
		padding-bottom: 55px;

		&__header {
			font-size: 35px;
			line-height: 130%;
			margin-bottom: 45px;
		}

		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;
		}

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&__item {
			width: calc(50% - 10px);
		}
	}

	@media (min-width: $screen-md-min) {

		&__item {
			font-size: 16px;
			width: calc(25% - 10px);
		}
	}


	@media (min-width: $screen-lg-min) {
		height: 850px;
		padding-top: 75px;
		padding-bottom: 70px;

		&__item {
			font-size: 20px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__item {
			width: calc(25% - 15px);
		}
	}

}

.engineering {
	color: #fff;
	padding-top: 40px;
	padding-bottom: 60px;
	background: #2C3B47 url("../img/engineering__bg.svg");

	&__header {
		font-size: 22px;
		font-weight: 700;
		line-height: 130%;
		text-align: center;
		margin-bottom: 22px;
	}

	&__row {

	}

	&__info {
		margin-bottom: 30px;
	}

	&__title {
		display: none;
		font-size: 24px;
		line-height: 130%;
		text-align: center;
		margin-bottom: 22px;
		color: rgba(255, 255, 255, 0.5);
	}

	&__nav {

		a {
			width: 100%;
			outline: none;
			color: #535353;
			cursor: pointer;
			font-size: 18px;
			font-weight: 400;
			line-height: 20px;
			user-select: none;
			border-radius: 8px;
			position: relative;
			background: #ffffff;
			margin-bottom: 10px;
			text-decoration: none;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid #fff;
			padding: 14px 35px 14px 15px;

			&:before {
				top: 50%;
				right: 10px;
				z-index: 1;
				content: '';
				width: 32px;
				height: 32px;
				font-size: 0;
				line-height: 0;
				margin-top: -16px;
				border-radius: 50%;
				position: absolute;
				background: #127F8E;
				display: inline-block;
				opacity: 0;
			}

			i {
				top: 50%;
				right: 10px;
				z-index: 5;
				width: 24px;
				height: 24px;
				font-size: 0;
				line-height: 0;
				margin-top: -12px;
				position: absolute;
				display: inline-block;
				opacity: 0;
			}


			.ico_svg {
				fill: #fff;
			}

			&:hover {
				color: #535353;
				background: #fff;
				text-decoration: none;
				border-color: rgba(0, 0, 0, 0.05);
				box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
			}

			&.active {
				color: #fff;
				font-weight: 700;
				background: #1D8C9C;
				text-decoration: none;
				border-color: rgba(0, 0, 0, 0.05);
				box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);

				&:before {
					opacity: 1;
				}

				i {
					opacity: 1;
				}
			}

			&:active {
				background: #1D8C9C;
			}

			&:focus,
			&.focus {
				outline: 0;
			}
		}
	}

	&__media {
		margin: 0 auto;
		max-width: 830px;
		position: relative;
	}

	&__button {
		margin: 0;
		padding: 0;
		z-index: 50;
		width: 40px;
		height: 40px;
		outline: none;
		font-size: 0;
		line-height: 0;
		display: none;
		cursor: pointer;
		position: relative;
		border-radius: 50%;
		background: transparent;
		border: 1px solid rgba(255, 255, 255, 0.25);

		i {
			top: 50%;
			left: 50%;
			width: 8px;
			height: 14px;
			position: absolute;
			display: inline-block;
			margin: -7px 0 0 -5px;
		}

		.ico_svg {
			fill: #fff;
		}

		&:hover {
			border-color: #fff;
			background: rgba(255, 255, 255, 0.15);
		}

		&_next {
			@include rotate(180deg);
		}
	}

	&__slider {
		margin-bottom: 0 !important;
	}

	.swiper-pagination {
		left: auto;
		right: auto;
		bottom: auto;
		padding-top: 20px;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
	}

	.swiper-pagination-bullet {
		opacity: 1;
		padding: 0;
		width: 9px;
		height: 9px;
		border: none;
		outline: none;
		margin: 0 5px;
		cursor: pointer;
		border-radius: 50%;
		background: #DCDCDC;
		display: inline-block;
	}

	.swiper-pagination-bullet-active {
		background: #EF9200;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 74px;
		padding-bottom: 60px;

		&__header {
			font-size: 35px;
			line-height: 130%;
			margin-bottom: 22px;
		}

		&__title {
			display: block;
		}

		&__nav {

			a {
				font-size: 20px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 85px;
		padding-bottom: 100px;

		&__header {
			text-align: left;
			margin-bottom: 44px;
		}

		&__title {
			text-align: left;
		}

		&__row {
			@include flexbox();
			@include align-items(center);
		}

		&__info {
			margin-bottom: 0;
			padding-right: 30px;
			@include flex-grow(1);
		}

		&__nav {
			margin-bottom: 0;


			a {
				font-size: 16px;
				margin-bottom: 28px;

				&:hover {
					background: #f5f5f5;
				}

				&:last-child {
					margin-bottom: 0;
				}

				&.active {
					color: #fff;
					background: #1D8C9C;
					text-decoration: none;
					border-color: rgba(0, 0, 0, 0.05);
					box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);

					&:before {
						opacity: 1;
					}

					i {
						opacity: 1;
					}
				}
			}
		}

		&__media {
			width: 720px;
			padding-right: 70px;
			@include flex-shrink(0);
		}

		&__slider {
			height: 366px;
		}

		.swiper-pagination {
			top: 0;
			bottom: 0;
			right: 16px;
			z-index: 50;
			position: absolute;
			@include flex-direction(column);
		}

		.swiper-pagination-bullet {
			margin: 5px 0;
		}

		&__button {
			right: 0;
			top: 50%;
			z-index: 60;
			position: absolute;
			display: inline-block;

			&_prev {
				margin-top: -110px;
				@include rotate(90deg);
			}

			&_next {
				margin-top: 90px;
				@include rotate(-90deg);
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__media {
			width: 860px;
		}

		&__slider {
			height: 434px;
		}

		&__ttile {
			margin-bottom: 26px;
		}

		&__nav {

			a {
				margin-bottom: 26px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.list {
	color: #535353;
	background: #F6F9FB;
	padding-top: 42px;
	padding-bottom: 54px;

	&__header {
		font-size: 22px;
		font-weight: 700;
		line-height: 130%;
		text-align: center;
		margin-bottom: 22px;
	}

	&__content {
		margin: 0;
		padding: 0;
		font-size: 18px;
		line-height: 130%;
		list-style: none;

		li {
			background: #fff;
			position: relative;
			border-radius: 8px;
			margin-bottom: 10px;
			padding: 12px 15px 16px 52px;
			@include flexbox();
			@include flex-direction(column);

			&:before {
				top: 15px;
				left: 19px;
				z-index: 1;
				content: '';
				width: 16px;
				height: 16px;
				border-radius: 50%;
				position: absolute;
				display: inline-block;
				border: 4px solid #1D8C9C;
			}

			&:after {
				top: 21px;
				left: 25px;
				z-index: 1;
				width: 4px;
				height: 4px;
				content: '';
				border-radius: 50%;
				position: absolute;
				background: #1D8C9C;
				display: inline-block;
			}

			span {
				display: block;
				margin: auto 0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 60px;
		padding-bottom: 60px;

		&__header {
			font-size: 35px;
			line-height: 130%;
			margin-bottom: 22px;
		}

		&__content {

			li {
				min-height: 70px;
				padding: 12px 50px 12px 52px;

				&:before {
					top: 50%;;
					margin-top: -8px;
				}

				&:after {
					top: 50%;
					margin-top: -2px;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {

		&__header {
			text-align: left;
			margin-bottom: 40px;
		}

		&__content {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			li {
				margin-bottom: 22px;
				padding-right: 30px;
				width: calc(50% - 10px);
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 67px;
		padding-bottom: 83px;
	}

	@media (min-width: $screen-xl-min) {

	}
}

.brands {
	color: #535353;
	padding-top: 35px;
	padding-bottom: 30px;
	background: #E3ECF2;

	&__header {
		font-size: 22px;
		font-weight: 700;
		line-height: 130%;
		text-align: center;
		margin-bottom: 30px;
	}

	&__row {

	}

	&__info {
		margin-bottom: 30px;
	}

	&__nav {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		a {
			width: calc(50% - 10px);
			outline: none;
			color: #535353;
			cursor: pointer;
			font-size: 18px;
			font-weight: 400;
			line-height: 20px;
			user-select: none;
			padding: 15px 20px;
			border-radius: 8px;
			position: relative;
			background: #ffffff;
			margin-bottom: 10px;
			text-decoration: none;
			display: inline-block;
			vertical-align: middle;

			i {
				top: 50%;
				right: 14px;
				z-index: 5;
				width: 24px;
				height: 24px;
				font-size: 0;
				line-height: 0;
				margin-top: -12px;
				position: absolute;
				display: none;
				opacity: 0;
			}

			.ico_svg {
				fill: #fff;
			}

			&:hover {
				color: #535353;
				background: #fff;
				text-decoration: none;
				box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
			}

			&.active {
				color: #fff;
				font-weight: 700;
				background: #1D8C9C;
				text-decoration: none;
				border-color: rgba(0, 0, 0, 0.05);
				box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);

				&:before {
					opacity: 1;
				}

				i {
					opacity: 1;
				}
			}

			&:active {
				background: #1D8C9C;
			}

			&:focus,
			&.focus {
				outline: 0;
			}
		}
	}

	&__media {
		margin: 0 auto;
		max-width: 830px;
		position: relative;
	}

	&__button {
		margin: 0;
		padding: 0;
		z-index: 50;
		width: 40px;
		height: 40px;
		outline: none;
		font-size: 0;
		line-height: 0;
		display: none;
		cursor: pointer;
		position: relative;
		border-radius: 50%;
		background: transparent;
		border: 1px solid #EF9200;

		i {
			top: 50%;
			left: 50%;
			width: 8px;
			height: 14px;
			position: absolute;
			display: inline-block;
			margin: -7px 0 0 -5px;
		}

		.ico_svg {
			fill: #EF9200;
		}

		&:hover {
			border-color: #EF9200;
			background: #fff;
		}

		&_next {
			@include rotate(180deg);
		}
	}

	&__slider {
		margin-bottom: 0 !important;
	}

	&__item {
		overflow: hidden;
		border-radius: 8px;
		background: #2C3B47;
		border: 4px solid #535353;
	}

	.swiper-pagination {
		left: auto;
		right: auto;
		bottom: auto;
		padding-top: 20px;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
	}

	.swiper-pagination-bullet {
		opacity: 1;
		padding: 0;
		width: 9px;
		height: 9px;
		border: none;
		outline: none;
		margin: 0 5px;
		cursor: pointer;
		border-radius: 50%;
		background: #DCDCDC;
		display: inline-block;
	}

	.swiper-pagination-bullet-active {
		background: #EF9200;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 74px;
		padding-bottom: 60px;

		&__header {
			font-size: 35px;
			line-height: 130%;
			margin-bottom: 22px;
		}

		&__title {
			display: block;
		}

		&__nav {

			a {
				font-size: 20px;
				padding: 14px 55px 14px 24px;

				&:before {
					top: 50%;
					right: 10px;
					z-index: 1;
					content: '';
					width: 32px;
					height: 32px;
					font-size: 0;
					line-height: 0;
					margin-top: -16px;
					border-radius: 50%;
					position: absolute;
					background: #127F8E;
					display: inline-block;
					opacity: 0;
				}

				i {
					display: block;
				}
			}
		}

		&__item {
			border-width: 8px;

			img {
				border-radius: 6px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__item {
			border-width: 10px;

		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 85px;
		padding-bottom: 100px;

		&__nav {

			a {

				&:hover {
					background: #f5f5f5;
				}

				&.active {
					color: #fff;
					background: #1D8C9C;
					text-decoration: none;
					border-color: rgba(0, 0, 0, 0.05);
					box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);

					&:before {
						opacity: 1;
					}

					i {
						opacity: 1;
					}
				}
			}
		}


		&__header {
			text-align: left;
			margin-bottom: 44px;
		}

		&__title {
			text-align: left;
		}

		&__row {
			@include flexbox();
			@include align-items(center);
		}

		&__info {
			margin-bottom: 0;
			padding-right: 30px;
			@include flex-grow(1);
		}

		&__nav {
			margin-bottom: 0;

			a {
				font-size: 16px;
				margin-bottom: 48px;

				&:last-child {
					margin-bottom: 0;
				}

				&:nth-child(7) {
					margin-bottom: 0;
				}
			}
		}

		&__media {
			width: 720px;
			padding-right: 70px;
			@include flex-shrink(0);
		}

		&__slider {
			height: 340px;
		}

		.swiper-pagination {
			top: 0;
			bottom: 0;
			padding: 0;
			right: 16px;
			z-index: 50;
			position: absolute;
			@include flex-direction(column);
		}

		.swiper-pagination-bullet {
			margin: 5px 0;
		}

		&__button {
			right: 0;
			top: 50%;
			z-index: 60;
			position: absolute;
			display: inline-block;

			&_prev {
				margin-top: -140px;
				@include rotate(90deg);
			}

			&_next {
				margin-top: 100px;
				@include rotate(-90deg);
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__media {
			width: 860px;
		}

		&__slider {
			height: 394px;
		}

		&__ttile {
			margin-bottom: 26px;
		}

		&__nav {

			a {
				padding: 20px 20px;
				margin-bottom: 52px;

				&:last-child {
					margin-bottom: 0;
				}

				&:nth-child(7) {
					margin-bottom: 0;
				}
			}
		}
	}
}

.docs {
	color: #535353;
	padding-top: 35px;
	padding-bottom: 45px;
	background: #F6F9FB;

	&_dark {
		color: #fff;
		background: #5C707B;

		.docs__button {
			border-color: #EF9200;

			.ico_svg {
				fill: #EF9200;
			}

			&:hover {
				border-color: #EF9200;
				background: rgba(0,0,0,0.1);
			}
		}
	}

	&__header {
		font-size: 22px;
		font-weight: 700;
		line-height: 130%;
		text-align: center;
		margin-bottom: 10px;
	}

	&__item {
		padding: 6px;
		height: 100%;
		color: #535353;
		display: block;
		font-size: 16px;
		background: #fff;
		line-height: 130%;
		text-align: center;
		border-radius: 8px;
		text-decoration: none;
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);

		&:hover {
			color: #535353;
			text-decoration: none;
		}

		&_image {
			display: block;
			overflow: hidden;
			position: relative;
			border-radius: 4px;
			object-fit: cover;
			border: 2px solid rgba(44, 59, 71, 0.1);

			img {
				height: 300px !important;
				object-fit: contain;
			}
		}

		&_icon {
			right: 6px;
			bottom: 6px;
			z-index: 10;
			width: 42px;
			height: 42px;
			font-size: 0;
			line-height: 0;
			background: #fff;
			position: absolute;
			border-radius: 8px;
			display: inline-block;
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

			i {
				top: 50%;
				left: 50%;
				width: 24px;
				height: 24px;
				position: absolute;
				display: inline-block;
				margin: -12px 0 0 -12px;
			}
		}

		&_title {
			padding-top: 15px;
			padding-bottom: 5px;
		}
	}

	.swiper-slide {
		height: auto;
		padding: 20px 11px;
	}

	&__button {
		margin: 0;
		padding: 0;
		z-index: 50;
		width: 40px;
		height: 40px;
		outline: none;
		font-size: 0;
		line-height: 0;
		display: none;
		cursor: pointer;
		position: relative;
		border-radius: 50%;
		background: transparent;
		border: 1px solid #D1D4D6;

		i {
			top: 50%;
			left: 50%;
			width: 8px;
			height: 14px;
			position: absolute;
			display: inline-block;
			margin: -7px 0 0 -5px;
		}

		.ico_svg {
			fill: #5A5A5A;
		}


		&:hover {
			border-color: #5A5A5A;
			background: rgba(0,0,0,0.1);
		}

		&_next {
			@include rotate(180deg);
		}
	}

	&__wrap {
		width: 252px;
		margin:  0 auto;
	}


	&__nav {
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
	}

	.swiper-pagination {
		left: auto;
		right: auto;
		bottom: auto;
		display: none;
		position: relative;
		@include align-items(center);
		@include justify-content(center);
	}

	.swiper-pagination-bullet {
		opacity: 1;
		padding: 0;
		width: 9px;
		height: 9px;
		border: none;
		outline: none;
		margin: 0 5px;
		cursor: pointer;
		border-radius: 50%;
		background: #DCDCDC;
		display: inline-block;
	}

	.swiper-pagination-bullet-active {
		background: #EF9200;
	}

	&__slider {

	}

	.license-slider {
		overflow: visible;
	}

	.cert-slider {
		overflow: visible;
	}

	@media (min-width: $screen-sm-min) {
		max-width: 100%;
		overflow: hidden;

		&__header {
			font-size: 35px;
			line-height: 130%;
		}

		&__wrap {
			width: auto;
			margin:  0 -11px;
		}

		&__item {

			&_image {


				.img {
					height: 320px !important;
				}
			}
		}

		.swiper-pagination {
			@include flexbox();
		}

		.license-slider {
			overflow: hidden;
		}

		.cert-slider {
			overflow: hidden;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 88px;
		padding-bottom: 50px;

		.swiper-pagination {
			padding: 0 20px;
		}

		&__button {
			display: inline-block;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__wrap {
			margin: 0 -15px;
		}

		.swiper-slide {
			padding: 20px 15px;
		}

		&__item {

			&_image {


				img {
					height: 388px !important;
				}
			}
		}
	}
}


.reference {
	color: #535353;
	background: #fff;
	padding-top: 42px;
	padding-bottom: 47px;

	&__header {
		text-align: center;
		margin-bottom: 30px;

		&_title {
			color: #1D8C9C;
			font-size: 22px;
			font-weight: 700;
			line-height: 130%;
			margin-bottom: 15px;
		}

		&_text {
			font-size: 16px;
			line-height: 130%;
		}
	}

	&__nav {
		display: none;
	}

	&__view {
		border: none;
		outline: none;
		color: #8D8F93;
		height: 48px;
		font-size: 16px;
		line-height: 20px;
		border-radius: 8px;
		text-decoration: none;
		background: rgba(54, 70, 83, 0.1);
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		span {
			padding-right: 10px;
			white-space: nowrap;
			display: inline-block;
		}

		i {
			width: 14px;
			height: 14px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
			@include rotate(-90deg);
		}

		.ico_svg {
			fill: #8D8F93;
		}

		&:hover {
			color: #8D8F93;
			text-decoration: none;
			background: rgba(54, 70, 83, 0.2);
		}

		&:active {
			background: rgba(54, 70, 83, 0.1);
		}

		&.active {

			i {
				@include rotate(90deg);
			}
		}
	}


	&__download {
		color: #fff;
		border: none;
		outline: none;
		height: 48px;
		font-size: 16px;
		line-height: 20px;
		padding: 14px 22px;
		text-align: center;
		border-radius: 8px;
		background: #EF9200;
		text-decoration: none;

		&:hover {
			background: #1D8C9C;
		}

		&:active {
			color: #fff;
			background: rgba(54, 70, 83, 0.1);
		}
	}

	&__wrap {
		max-width: calc(100% + 15px);
		margin-right: -15px;
	}

	&__content {
		overflow-y: auto;
		border-radius: 8px;
		background: #FFFFFF;
		margin-bottom: 27px;
		box-shadow: 0px 2px 20px rgba(15, 20, 28, 0.12);

		&_wrap {
			width: 1200px;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 48px;
		margin-bottom: 83px;

		&__header {
			width: 530px;
			margin: 0 auto 38px auto;

			&_title {
				font-size: 35px;
				line-height: 130%;
			}

			&_text {
			}

		}

		&__mobile {
			display: none;
		}

		&__nav {
			padding: 26px 33px;
			@include flexbox();
			@include align-items(center);
		}

		&__view {
			width: 660px;
			margin-right: 80px;
			@include flex-shrink();
		}

		&__content {
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-md-min) {

		&__view {
			width: 650px;
			margin-right: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 87px;
		padding-bottom: 100px;

		&__header {
			width: 100%;
			text-align: left;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);

			&_title {
				width: 530px;
				font-size: 35px;
				line-height: 130%;
			}

			&_text {
				width: 230px;
			}
		}

		&__wrap {
			margin: 0;
			max-width: 100%;
		}

		&__content {

			&_wrap {
				width: 100%;
			}
		}

		&__nav {
			@include justify-content(space-between);
		}

		&__view {
			width: auto;
			@include flex-grow(1);
		}

		&__download {
			width: 260px;
			@include flex-shrink(0);
		}
	}


	@media (min-width: $screen-xl-min) {

	}
}

.person {
	padding-top: 40px;
	position: relative;
	padding-bottom: 30px;
	background: #F6F9FB;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		content: '';
		height: 600px;
		display: block;
		position: absolute;
		background: #364653 url('../img/engineering__bg.svg');
	}

	&__header {
		color: #fff;
		font-size: 22px;
		line-height: 130%;
		margin-bottom: 20px;
	}

	.section-wrap {
		z-index: 20;
		position: relative;
	}

	&__col {
		display: none;
		margin-bottom: 20px;

		&_xs {
			display: block;
		}

		&.view_all {
			display: block !important;
		}
	}

	&__item {
		font-size: 14px;
		line-height: 130%;
		background: #fff;
		border-radius: 8px;
		padding: 22px 10px 22px 22px;
		box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
		@include flexbox();

		&_image {
			width: 100px;
			overflow: hidden;
			border-radius: 4px;
			background: rgba(44, 59, 71, 0.1);
			border: 2px solid rgba(44, 59, 71, 0.1);
			@include flex-shrink(0);
		}

		&_content {
			padding-left: 18px;
			@include flex-grow(1);
		}

		&_name {
			color: #535353;
			font-size: 18px;
			font-weight: 700;
			line-height: 130%;
			margin-bottom: 2px;
		}

		&_staff {
			color: #1D8C9C;
			font-size: 14px;
			line-height: 130%;
			margin-bottom: 10px;
		}

		&_contact {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 9px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&_phone {
			color: #535353;
			padding-left: 24px;
			white-space: nowrap;
			display: inline-block;
			background: url("../img/icon__phone.svg") 0 50% no-repeat;
		}

		&_email {
			color: #535353;
			padding-left: 24px;
			white-space: nowrap;
			display: inline-block;
			background: url("../img/icon__email.svg") 0 50% no-repeat;
		}
	}

	&__view {
		border: none;
		outline: none;
		color: #8D8F93;
		height: 48px;
		width: 100%;
		font-size: 16px;
		line-height: 20px;
		border-radius: 8px;
		text-decoration: none;
		background: rgba(54, 70, 83, 0.1);
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		span {
			padding-right: 10px;
			white-space: nowrap;
			display: inline-block;
		}

		i {
			width: 14px;
			height: 14px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
			@include rotate(-90deg);
		}

		.ico_svg {
			fill: #8D8F93;
		}

		&:hover {
			color: #8D8F93;
			text-decoration: none;
			background: rgba(54, 70, 83, 0.2);
		}

		&:active {
			background: rgba(54, 70, 83, 0.1);
		}

		&.active {

			i {
				@include rotate(90deg);
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__header {
			font-size: 35px;
			line-height: 130%;
			margin-bottom: 45px;
		}

		&__row {
			margin: 0 -10px;
			padding-bottom: 10px;
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&__col {
			width: 50%;
			padding: 0 10px;

			&_sm {
				display: block;
			}
		}

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 90px;

		&:before {
			height: 820px;
		}

		&__header {
			text-align: left;
		}

		&__row {
			margin: 0 -15px;
		}

		&__col {
			width: 33.33%;
			display: block;
			padding: 0 15px;
			margin-bottom: 30px;

			&_hide {
				display: none;
			}

			&.view_all {
				display: block !important;
			}
		}

		&__item {

			&_image {
				width: 144px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.comments {
	color: #535353;
	padding-top: 20px;
	padding-bottom: 30px;
	background: #F6F9FB;

	&__header {
		margin-bottom: 20px;

		&_title {
			color: #1D8C9C;
			font-size: 22px;
			font-weight: 700;
			line-height: 130%;
			text-align: center;
		}

		&_nav {
			display: none;
		}
	}

	&__nav {
		margin: 0;
		padding: 0;
		z-index: 50;
		width: 40px;
		height: 40px;
		outline: none;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: relative;
		border-radius: 50%;
		display:inline-block;
		background: transparent;
		border: 1px solid #D1D4D6;

		i {
			top: 50%;
			left: 50%;
			width: 8px;
			height: 14px;
			position: absolute;
			display: inline-block;
			margin: -7px 0 0 -5px;
		}

		.ico_svg {
			fill: #535353;
		}

		&:hover {
			border-color: #D1D4D6;
			background: rgba(255, 255, 255, 0.15);
		}

		&_next {
			@include rotate(180deg);
		}

	}

	&__desktop {
		display: none;
	}

	&__mobile {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}

	&__item {
		text-align: center;
		margin-bottom: 44px;
		width: calc(50% - 10px);

		&_image {
			display: block;
			max-width: 185px;
			overflow: hidden;
			background: #fff;
			border-radius: 8px;
			border: 5px solid #fff;
			margin: 0 auto 14px auto;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);

			img {
				width: 100% !important;
				height: 107px !important;
				object-fit: contain;
			}
		}


		&_wrap {
			overflow: hidden;
			border-radius: 8px;
		}

		&_link {
			color: #1D8C9C;
			font-size: 14px;
			line-height: 130%;
			display: inline-block;
			text-decoration: underline;

			&:hover {
				color: #1D8C9C;
				text-decoration: none;
			}
		}

		&_title {
			color: #535353;
			font-size: 16px;
			font-weight: 700;
			line-height: 130%;
			padding-top: 16px;
		}
	}


	.swiper-pagination {
		left: auto;
		right: auto;
		bottom: auto;
		padding-top: 20px;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
	}

	.swiper-pagination-bullet {
		opacity: 1;
		padding: 0;
		width: 9px;
		height: 9px;
		border: none;
		outline: none;
		margin: 0 5px;
		cursor: pointer;
		border-radius: 50%;
		background: #DCDCDC;
		display: inline-block;
	}

	.swiper-pagination-bullet-active {
		background: #EF9200;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 30px;
		padding-bottom: 10px;

		&__header {
			margin-bottom: 30px;

			&_title {
				font-size: 35px;
				line-height: 130%;
			}
		}

		&__item {
			margin-bottom: 55px;
			width: calc(33.33% - 10px);

			&_image {
				height: 122px !important;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 60px;
		padding-bottom: 96px;

		&__header {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);

			&_title {
				text-align: left;
				@include flex-grow(1);
			}

			&_nav {
				width: 90px;
				@include flexbox();
				@include flex-shrink(0);
				@include align-items(center);
				@include justify-content(space-between);
			}
		}

		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;
			margin: 0 -15px;
		}

		&__item {
			width: 100%;
			margin-bottom: 0;
		}

		.swiper-slide {
			padding: 15px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}
