
.selection {
	padding-top: 45px;
	position: relative;
	background: #364653;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		height: 300px;
		background: #2C3B47;
		content: '';
		display: block;
		position: absolute;
	}

	.section-wrap {
		z-index: 20;
		position: relative;
	}

	&__header {
		color: #fff;
		font-size: 22px;
		font-weight: 700;
		line-height: 130%;
		text-align: center;
		margin-bottom: 22px;
	}

	&__nav {
		padding-bottom: 20px;

		a {
			width: 100%;
			color: #535353;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
			background: #fff;
			border-radius: 8px;
			padding: 15px 24px;
			display: inline-block;
			text-decoration: none;
			margin-bottom: 10px;

			&:hover {
				color: #535353;
				background: #f5f5f5;
				text-decoration: none;
				box-shadow: 0px 2px 4px rgba(15, 20, 28, 0.1);
			}

			&.active {
				color: #fff;
				background: #1D8C9C;
				text-decoration: none;
				box-shadow: 0px 2px 4px rgba(15, 20, 28, 0.1);
			}
		}
	}

	&__content {
		max-width: 100%;
		background: #fff;
		overflow-x: auto;
		border-radius: 8px;
	}

	&__tab {
		display: none;

		&.active {
			display: block;
		}
	}

	&__power {
		margin: 0;
		width: 1160px;
		padding: 35px 15px 5px 15px;
		font-size: 14px;
		font-weight: 700;
		line-height: 130%;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			width: 25%;
			text-align: center;
			padding: 0 10px;
			margin-bottom: 27px;
		}

		&_title {
			color: #535353;
			margin-bottom: 10px;

		}

		&_links {
			width: 270px;
			height: 50px;
			border-radius: 8px;
			background: #F6F9FB;
			border: 1px solid rgba(0, 0, 0, 0.05);
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-around);

			a {
				color: #EF9200;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: #1D8C9C;
					text-decoration: none;
				}
			}
		}
	}

	&__brand {
		margin: 0;
		min-width: 950px;
		min-height: 336px;
		padding: 20px 0 18px 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			width: 20%;
			margin-bottom: 7px;
			text-align: center;
		}
	}

	&__engine {
		min-height: 320px;
		padding: 55px 5px 45px 5px;
		@include flexbox();
		@include justify-content(space-between);

		&_title {
			color: #535353;
			font-size: 14px;
			font-weight: 700;
			line-height: 130%;
			margin-bottom: 10px;
			white-space: nowrap;
		}

		&_group {
			padding: 0 40px;
		}

		&_list {
			margin: 0;
			padding: 0;
			width: 207px;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			li {
				width: 100px;
				margin-bottom: 7px;
			}
		}
	}

	&__price {
		margin: 0;
		min-width: 1164px;
		padding: 37px 30px 1px 30px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		&_group {
			padding: 0;
			width: 328px;
			list-style: none;
			margin-bottom: 36px;

			li {
				margin-bottom: 7px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.selection__button {
			width: 100%;
		}
	}

	&__button {
		padding: 10px;
		color: #535353;
		min-width: 100px;
		font-size: 14px;
		box-shadow: none;
		line-height: 20px;
		border-radius: 8px;
		text-align: center;
		background: #F6F9FB;
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;
		box-sizing: border-box;
		border: 1px solid rgba(0, 0, 0, 0.05);
		@include transition(.2s);

		&:hover {
			color: #535353;
			background: #E2EBF0;
			text-decoration: none;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
			@include transition(.2s);
		}

		&:active {
			background: #F6F9FB;
			@include transition(.2s);
		}
	}


	@media (min-width: $screen-sm-min) {
		padding-top: 60px;

		&:before {
			height: 327px;
		}

		&__header {
			font-size: 28px;
			line-height: 130%;
			margin-bottom: 30px;
		}

		&__power {
			width: 1200px;
			margin: 0 auto;

			li {
				padding: 0 15px;
			}
		}

		&__price {
			min-width: 1140px;
			padding-left: 60px;
			padding-right: 60px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 66px;

		&__header {
			text-align: left;
		}

		&__nav {
			padding: 0;
			width: 100%;
			background: #364653;
			border-radius: 8px 8px 0 0;
			@include flexbox();

			a {
				margin: 0;
				width: 25%;
				color: #7D92A4;
				font-size: 16px;
				line-height: 20px;
				padding: 17px 10px;
				text-align: center;
				background: #364653;
				border-radius: 8px 8px 0 0;
				@include flex-shrink(0);

				&.active {
					color: #535353;
					background: #fff;
					box-shadow: none;

					&:hover {
						color: #535353;
						background: #fff;
					}
				}

				&:hover {
					color: #7D92A4;
					background: #4c626f;
				}
			}
		}

		&__content {
			border-radius: 0 0 8px 8px;
		}

		&__brand {
			width: 100%;
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__engine {
			padding-left: 190px;
			padding-right: 190px;

			&_group {
				padding: 0;
			}
		}
	}


	@media (min-width: $screen-xl-min) {


		&__power {

			margin: 0 auto;

			li {
				padding: 0 18px;
			}
		}
	}

}