.comparison {
	margin: 60px 0;
	width: 345px;
	padding: 10px 0 10px 10px;
	font-size: 14px;
	line-height: 20px;
	background: #fff;
	overflow: visible;
	border-radius: 10px;
	box-shadow: 0px 2px rgba(15, 20, 28, 0.1);
	font-family: Arial, Helvetica, sans-serif;

	&__wrap {
		max-width: 100%;
		overflow: hidden;
		@include flexbox();
	}

	&__legend {
		margin: 0;
		padding: 0;
		width: 165px;
		font-weight: 700;
		list-style: none;
		font-size: 13px;
		line-height: 20px;
		overflow: hidden;
		border: 1px solid #EDEDED;
		border-radius: 8px 0 0 8px;
		@include flex-shrink(0);

		li {

			span {
				display: block;
				color: #fff;
				max-height: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				background: #5C707B;
				padding: 10px 10px;
			}

			&:nth-child(odd) {

				span {
					color: #5C707B;
					background: #fff;
				}
			}

			&:first-child {
				height: 320px;

				span {
					color: #fff !important;
					background: #5C707B !important;
				}
			}
		}
	}

	&__main {
	//	width: 200px;
		overflow-x: auto;
		@include flex-grow(1);
		border: 1px solid #EDEDED;
		border-radius: 0 8px 8px 0;
		border-left: none;
	}

	&__content {
		height: 100%;
		width: 100%;
	}

	&__row {
		@include flexbox();
	}

	&__item {
		@include flex-shrink(0);
	}

	&__slider {

		.swiper-slide {
			width: 200px;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 728px;
		padding: 30px 0 30px 30px;

		&__legend {
			width: 295px;
			font-size: 14px;

			li {

				span {
					padding: 10px 20px;
				}
			}
		}

		&__main {

		}

		&__content {
			width: 100%
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 30px;
		width: 1130px;

		&__main {
			width: 775px;
			overflow: hidden;
		}

		&__slider {

			.swiper-slide {
				width: auto;
			}
		}

		&__legend {

			li {

				&:first-child {

				}
			}
		}
	}
	@media (min-width: $screen-xl-min) {

	}
}


.comparison-goods {
	width: 100%;
	background: #fff;
	position: relative;
// border-left: 1px solid #EDEDED;
	border-right: 1px solid #EDEDED;
	@include flexbox();
	@include flex-direction(column);
	@include justify-content(flex-start);

	&__remove {
		right: -13px;
		top: -13px;
		width: 26px;
		height: 26px;
		z-index: 150;
		font-size: 0;
		line-height: 0;
		background: #fff;
		cursor: pointer;
		position: absolute;
		border-radius: 50%;
		display: none;
		box-shadow: 0px 3px 20px rgba(15, 20, 28, 0.15);

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 10px;
			height: 2px;
			position: absolute;
			border-radius: 1px;
			background: #C23737;
			display: inline-block;
			margin: -1px 0 0 -5px;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	&__image {
		height: 170px;
		padding-top: 6px;
		@include flexbox();
		@include align-items(center);
		@include flex-direction(column);

		&_item {
			margin: auto;
			width: 164px;
			display: block;
			position: relative;
		}
	}

	&__title {
		height: 108px;
		padding: 0 20px;
		overflow: hidden;
		font-size: 14px;
		line-height: 130%;

		strong {
			font-weight: 700;
		}
	}

	&__price {
		height: 42px;
		color: #1D8C9C;
		padding: 0 20px;
		font-weight: 700;
	}

	&__info {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			height: 40px;
			@include flexbox();
			@include flex-direction(column);

			span {
				display: block;
				margin: auto 0;
				overflow: hidden;
				max-height: 100%;
				padding: 10px 10px;
				text-overflow: ellipsis;
			}

			&:nth-child(odd) {
				background: #F3F5F6;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&__title {
			font-size: 16px;
			line-height: 130%;
		}
		&__remove {
			display: inline-block;
		}

		&__info {

			li {

				span {
					padding: 10px 18px;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {

		&__image {
			height: 200px;
			padding-top: 10px;

			&_item {
				width: 208px;
			}
		}

		&__title {
			height: 78px;

		}

		&__info {

		}
	}
}

.btn_hide_modal {
	right: 0;
	top: -50px;
	width: 36px;
	height: 36px;
	z-index: 150;
	font-size: 0;
	line-height: 0;
	background: #fff;
	cursor: pointer;
	position: absolute;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0px 2px rgba(15, 20, 28, 0.1);

	&:after,
	&:before {
		top: 50%;
		left: 50%;
		content: '';
		width: 16px;
		height: 2px;
		position: absolute;
		border-radius: 1px;
		background: #535353;
		display: inline-block;
		margin: -1px 0 0 -8px;
	}

	&:after {
		@include rotate(45deg);
	}

	&:before {
		@include rotate(-45deg);
	}

	@media (min-width: $screen-sm-min) {
		top: -18px;
		right: -15px;
	}
}

.double_height {
	height: 60px !important;

	@media (min-width: $screen-sm-min) {
		height: 40px !important;
	}
}

