.page-nav {
	top:0;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: -1;
	opacity: 0;
	height: 100vh;
	position: fixed;
	list-style: none;
	font-size: 14px;
	line-height: 250%;
	white-space: nowrap;
	visibility: hidden;
	@include flexbox();
	@include flex-direction(column);

	ul {
		width: 80px;
		margin: auto 0;
		list-style: none;
		padding: 15px 0;
		height: 450px;
		backdrop-filter: blur(19px);
		border-radius: 8px 0 0 8px;
		background: rgba(255, 255, 255, 0.9);

		li {
			position: relative;

			a {
				width: 100%;
				color: #ADB5BC;
				white-space: nowrap;
				display: inline-block;
				text-decoration: none;
				padding: 0 24px 0 40px;

				&:before {
					top: 50%;
					left: 24px;
					width: 2px;
					height: 6px;
					content: '';
					font-size: 0;
					line-height: 0;
					margin-top: -3px;
					border-radius: 1px;
					position: absolute;
					background: #ADB5BC;
					display: inline-block;
					@include transition(.3s);
				}

				&:hover {
					color: #1D8C9C;
					text-decoration: none;

					&:before {
						background: #1D8C9C;
					}
				}
			}

			i {
				font-style: normal;
			}

			span {
				display: none;
			}

			&.current {

				a {
					color: #1D8C9C;
					font-weight: 700;

					&:before {
						height: 12px;
						margin-top: -6px;
						background: #1D8C9C;
					}
				}
			}
		}
	}

	@media (min-width: 1570px) {
		opacity: 1;
		z-index: 1600;
		visibility: visible;
	}

	@media (min-width: 1700px) {

		ul {
			width: 220px;

			li {

				i {
					display: none;
				}

				span {
					display: inline-block;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}

}