.main-header {
	position: relative;
}

.topnav {
	display: none;
	background: #1D8C9C;

	&__row {
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__menu {
		margin: 0;
		padding: 0 30px 0 0;
		list-style: none;
		font-size: 14px;
		line-height: 20px;
		@include flexbox();
		@include flex-grow(1);
		@include align-items(center);
		@include justify-content(space-between);

		li {

			a {
				color: #fff;
				padding: 14px 0;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: #EF9200;
					text-decoration: none;
				}
			}
		}
	}

	&__search {
		width: 220px;
		height: 36px;
		padding: 8px 15px;
		border-radius: 7px;
		background: rgba(255,255,255,0.8);
		@include flexbox();
		@include flex-shrink(0);
		@include align-items(center);

		&_icon {
			width: 14px;
			height: 14px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
			@include flex-shrink(0);

			.ico_svg {
				fill: #EF9200;
			}
		}

		&_form {
			padding-left: 12px;
			@include flex-grow(1);
		}

		&_input {
			margin: 0;
			width: 100%;
			opacity: 0.5;
			height: 20px;
			border: none;
			outline: none;
			padding: 2px 0;
			color: #364653;
			display: block;
			font-size: 14px;
			line-height: 16px;
			max-width: 100%;
			overflow: hidden;
			vertical-align: middle;
			text-overflow: ellipsis;
			background: transparent;
			@include placeholder(#364653);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus,
			&:active {
				outline: none;
				@include placeholder(transparent);
			}
		}
	}

	@media (min-width: $screen-md-min) {
		display: block;
	}

	@media (min-width: $screen-lg-min) {

		&__menu {
			padding-right: 62px;
		}

		&__search {
			width: 292px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.head {
	background: #fff;

	&__row {
		height: 90px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__search {
		width: 52px;
		height: 52px;
		z-index: 100;
		font-size: 0;
		line-height: 0;
		position: relative;

		&_button {
			z-index: 110;
			width: 52px;
			height: 52px;
			border: none;
			outline: none;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			position: relative;
			background: #EFF1F4;
			display: inline-block;
			border-radius: 50%;

			i {
				top: 50%;
				left: 50%;
				width: 24px;
				height: 24px;
				position: absolute;
				display: inline-block;
				margin: -12px 0 0 -12px;
			}

			.ico_svg {
				fill: #1D8C9C;
				stroke: #1D8C9C;
			}
		}

		&_content {
			top: -4px;
			opacity: 0;
			right: -4px;
			width: 60px;
			height: 60px;
			z-index: 120;
			padding: 4px;
			background: #fff;
			position: absolute;
			border-radius: 30px;
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
			@include transition(.3s);

			&.open {
				opacity: 1;
				z-index: 100;
				width: calc(100vw - 24px);
				@include transition(.3s);

				.head__search_input {
					display: block;
				}
			}
		}
		

		&_wrap {
			width: 100%;
			@include flexbox();
			@include align-items(center);
		}

		&_close {
			z-index: 150;
			width: 52px;
			height: 52px;
			border: none;
			outline: none;
			font-size: 0;
			cursor: pointer;
			line-height: 0;
			cursor: pointer;
			border-radius: 50%;
			position: relative;
			background: transparent;
			display: inline-block;

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				z-index: 5;
				width: 24px;
				height: 4px;
				content: '';
				border-radius: 2px;
				position: absolute;
				background: #D9D9D9;
				display: inline-block;
				margin: -2px 0 0 -12px;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}
		}

		&_input {
			margin: 0;
			width: 100%;
			opacity: 0.5;
			height: 40px;
			border: none;
			outline: none;
			color: #364653;
			display: none;
			font-size: 16px;
			line-height: 20px;
			max-width: 100%;
			overflow: hidden;
			padding: 10px 70px 10px 10px;
			vertical-align: middle;
			text-overflow: ellipsis;
			background: transparent;
		}
	}

	&__logo {
		font-size: 0;
		line-height: 0;
		text-align: center;
		display: inline-block;

		&_image {
			width: 196px;
			display: inline-block;
		}

		&_text {
			color: #8D8F93;
			font-size: 10px;
			padding-top: 5px;
			line-height: 130%;
			white-space: nowrap;
		}
	}

	&__toggle {
		width: 52px;
		height: 52px;
		border: none;
		outline: none;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: relative;
		background: #EFF1F4;
		display: inline-block;
		border-radius: 50%;

		span,
		&:after,
		&:before {
			left: 50%;
			z-index: 1;
			content: '';
			width: 24px;
			height: 4px;
			margin-left: -12px;
			border-radius: 4px;
			position: absolute;
			background: #1D8C9C;
			display: inline-block;
			@include transition(.3s);
		}

		span {
			top: 24px;
		}

		&:after {
			top: 15px;
		}

		&:before {
			bottom: 15px;
		}

		&.nav_open {

			span {
				display: none;
			}

			&:after {
				top: 24px;
				@include rotate(45deg);
				@include transition(.3s);
			}

			&:before {
				bottom: 24px;
				@include rotate(-45deg);
				@include transition(.3s);
			}
		}
	}

	&__box {
		display: none;
		color: #535353;
		font-size: 16px;
		line-height: 130%;

		&_address {
			min-width: 240px;
			@include flex-shrink(0);
		}

		&_contact {
			white-space: nowrap;
		}

		&_email {
			display: none;
			white-space: nowrap;
		}
	}

	&__title {
		color: #8D8F93;
		font-size: 14px;
		font-weight: 700;
		line-height: 130%;
		margin-bottom: 10px;
	}

	&__city {
		color: #535353;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		i {
			width: 14px;
			height: 18px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
			@include flex-shrink(0);
		}

		span {
			padding-left: 8px;
			padding-right: 6px;
			font-weight: 700;
			white-space: nowrap;
			display: inline-block;
		}

		b {
			width: 8px;
			height: 6px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
			@include flex-shrink(0);
		}
	}

	&__address {
		padding-top: 4px;
		white-space: nowrap;
	}

	&__phone {
		display: block;
		color: #535353;
		font-size: 22px;
		font-weight: 700;
		line-height: 130%;
		margin-top: -4px;
		position: relative;
		text-decoration: none;


		&:hover {
			color: #535353;
			text-decoration: none;
		}
	}

	&__order {
		color: #1D8C9C;
		font-size: 14px;
		line-height: 130%;
		letter-spacing: 0.042em;
		text-decoration: underline;

		&:hover {
			color: #1D8C9C;
			text-decoration: none;
		}
	}

	&__tel {
		color: #535353;
		margin-bottom: 4px;
		white-space: nowrap;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		i {
			width: 16px;
			height: 16px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
		}

		span {
			padding-left: 8px;
			display: inline-block;
		}

		&:hover {
			color: #535353;
			text-decoration: none;
		}
	}

	&__worktime {
		color: #535353;
		white-space: nowrap;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		i {
			width: 16px;
			height: 16px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
		}

		span {
			padding-left: 8px;
			display: inline-block;
		}

		&:hover {
			color: #535353;
			text-decoration: none;
		}
	}

	&__email {
		color: #535353;
		margin-bottom: 4px;
		white-space: nowrap;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		i {
			width: 19px;
			height: 20px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
		}

		span {
			padding-left: 5px;
			display: inline-block;
		}

		&:hover {
			color: #535353;
			text-decoration: none;
		}
	}

	@media (max-width: 350px) {

		&__logo {

			&_image {
				width: 160px;
			}

			&_text {
				display: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {

		&__logo {
			text-align: left;

			&_image {
				width: 220px;
			}

			&_text {
				font-size: 12px;
				padding-top: 10px;
				line-height: 130%;
			}
		}

		&__toggle {
			display: none;
		}

		&__search {
			display: none;
		}

		&__box {
			display: block;

			&_email {
				display: none;
			}
		}

		&__row {
			height: 144px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__box {

			&_email {
				display: block;
			}
		}
	}


	@media (min-width: $screen-xl-min) {

		&__logo {
			text-align: left;

			&_image {
				width: 278px;
			}

			&_text {
				color: #8D8F93;
				font-size: 14px;
				padding-top: 12px;
				line-height: 130%;
				white-space: nowrap;
			}
		}
	}


}

.main-nav {
	padding: 0;
	color: #fff;
	z-index: 100;
	display: none;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	background: #5C707B;


	ul  {
		padding: 0;
		margin: 0 -10px;
		list-style: none;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		> li {
			margin: 0;
			padding: 0;

			&:before {
				display: none;
			}

			> a {
				color: #fff;
				padding: 15px 10px;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: #EF9200;
					text-decoration: none;
				}
			}
		}
	}



	@media (min-width: $screen-md-min) {
		display: block;
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.head-mobile {
	color: #fff;
	font-size: 16px;
	line-height: 130%;
	padding-top: 12px;
	text-align: center;
	background: #5C707B;
	padding-bottom: 12px;

	span {
		display: block;
	}

	a {
		color: #fff;
		font-size: 16px;
		font-weight: 700;
		line-height: 130%;
		white-space: nowrap;
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	@media (min-width: $screen-sm-min) {

		span {
			display: inline;
		}
	}

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.city-switch {
	left: 0;
	right: 0;
	top: 192px;
	z-index: 500;
	display: none;
	position: absolute;
}


.nav-mobile {
	left: 0;
	top: 154px;
	width: 100%;
	opacity: 0;
	background: #fff;
	visibility: hidden;
	z-index: 300;
	display: block;
	position: fixed;
	overflow-y: auto;
	height: calc(100% - 154px);
	border-radius: 0 10px 10px 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	@include transition(.2s);

	&.nav_open {
		opacity: 1;
		visibility: visible;
		@include transition(.2s);
	}

	&__layout {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 290;
		display: block;
		position: fixed;
		background: #2C3B47;
		opacity: 0;
		visibility: hidden;
		@include transition(.2s);

		&.nav_open {
			opacity: 0.3;
			visibility: visible;
			@include transition(.2s);
		}
	}

	&__contact {
		font-size: 16px;
		line-height: 130%;
		padding: 22px 15px;
		background: #F6F6F6;
	}

	&__address {
		margin-bottom: 24px;
	}

	&__menu {
		margin: 0;
		padding: 0 15px;
		background: #fff;
		list-style: none;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;


		li {

			a {
				height: 53px;
				color: #535353;
				text-decoration: none;
				border-bottom: 1px solid #F0F0F0;
				@include flexbox();
				@include align-items(center);
				@include justify-content(space-between);

				span {
					display: inline-block;
				}

				i {
					width: 10px;
					height: 17px;
					font-size: 0;
					line-height: 0;
					display: inline-block;
					@include rotate(180deg);
				}

				.ico_svg {
					fill: #8D8F93;
				}

				&:hover {
					color: #535353;
					text-decoration: none;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		top: 134px;
		width: 654px;
		height: calc(100% - 134px);

		&__contact {
			padding: 30px 20px 34px 20px;
			@include flexbox();

		}

		&__address {
			width: 300px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-md-min) {
		display: none;

		&__layout {
			display: none;
		}
	}
}

