
.main-breadcrumb {
	color: #8D8F93;
	list-style: none;
	padding: 15px 0;
	font-size: 14px;
	line-height: 17px;
	background: #E5E5E5;

	ul {
		@include flexbox();
		@include flex-wrap(wrap);
	//	@include align-items(center);

		li {
			display: inline-block;

			&:after {
				content: '»';
				padding: 0 10px;
			}

			&:last-child {

				&:after {
					display: none;
				}
			}

			a {
				color: #8D8F93;
				text-decoration: none;

				&:hover {
					color: #8D8F93;
					text-decoration: underline;
				}
			}

			span {
				font-weight: 700;
			}
		}
	}
}