.btn_main {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	user-select: none;
	border-radius: 8px;
	background: #1D8C9C;
	position: relative;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	padding: 14px 55px 14px 25px;

	&:before {
		top: 50%;
		right: 10px;
		z-index: 1;
		content: '';
		width: 32px;
		height: 32px;
		font-size: 0;
		line-height: 0;
		margin-top: -16px;
		border-radius: 50%;
		position: absolute;
		background: #127F8E;
		display: inline-block;
	}

	i {
		top: 50%;
		right: 14px;
		z-index: 5;
		width: 24px;
		height: 24px;
		font-size: 0;
		line-height: 0;
		margin-top: -12px;
		position: absolute;
		display: inline-block;
	}

	.ico_svg {
		fill: #fff;
	}

	&:hover {
		color: #fff;
		background: #1D8C9C;
		text-decoration: none;
	}

	&:active {
		background: #1D8C9C;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_base {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	user-select: none;
	position: relative;
	padding: 10px 10px;
	border-radius: 5px;
	background: #EF9200;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;

	&:hover {
		color: #fff;
		background: #364653;
		text-decoration: none;
	}

	&:active {
		color: #fff;
		background: #EF9200;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_base_gray {
	color: #8D8F93;
	background: #E9EAEE;

	&:hover {
		color: #fff;
		background: #364653;
	}

	&:active {
		color: #8D8F93;
		background: #E9EAEE;
	}
}

.btn_base_light {
	color: #32353A;
	background: #E9EAEE;

	&:hover {
		color: #fff;
		background: #364653;
	}

	&:active {
		color: #8D8F93;
		background: #E9EAEE;
	}
}

.btn_base_dark {
	color: #fff;
	background: #364653;

	&:hover {
		color: #fff;
		background: #25313e;
	}

	&:active {
		color: #fff;
		background: #364653;
	}
}

.btn_base_sm {
	padding: 6px 10px;
}